doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Senaryo Oluşturucu
    link(rel='stylesheet', href='/css/material.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Senaryo Oluşturucu
    // Diğer içerikler buraya eklenebilir
    script(src='/js/main.js')
